<p class="selectable-text copyable-text" data-mce-fragment="1">?name Metal Turkish Coffee Set with Coffee Cups, Saucers &amp; Metal Cover Turkish Coffee Espresso Serving</p>
<p class="selectable-text copyable-text" data-mce-fragment="1"><br data-mce-fragment="1"></p>
<h4 class="selectable-text copyable-text" data-mce-fragment="1"><strong data-mce-fragment="1"><span class="selectable-text copyable-text" data-mce-fragment="1">Description:</span></strong></h4>
<p class="selectable-text copyable-text" data-mce-fragment="1"><span class="selectable-text copyable-text" data-mce-fragment="1">Premium Quality.</span></p>
<p class="selectable-text copyable-text" data-mce-fragment="1"><span class="selectable-text copyable-text" data-mce-fragment="1">The Cups hold 2 oz. Ideal for Turkish, Greek, and Arabic Coffee and Espresso.</span></p>
<p class="selectable-text copyable-text" data-mce-fragment="1"><span class="selectable-text copyable-text" data-mce-fragment="1">Porcelain cups are removable from the holders and machine-washable.</span></p>
<p class="selectable-text copyable-text" data-mce-fragment="1"><span class="selectable-text copyable-text" data-mce-fragment="1">Thick material, an Authentic Gift for anyone and honor your guests with this great coffee set.</span></p>
<p class="selectable-text copyable-text" data-mce-fragment="1"><span class="selectable-text copyable-text" data-mce-fragment="1">Made in Turkey.</span></p>
<p class="selectable-text copyable-text" data-mce-fragment="1"><br data-mce-fragment="1"></p>
<h4 class="selectable-text copyable-text" data-mce-fragment="1"><strong data-mce-fragment="1"><span class="selectable-text copyable-text" data-mce-fragment="1">Dimensions:</span></strong></h4>
<p class="selectable-text copyable-text" data-mce-fragment="1"><span class="selectable-text copyable-text" data-mce-fragment="1">Each Cup is Approximately 4.75'' x 4.10'' (12.06 cm x 10.16 cm)</span></p>
<p class="selectable-text copyable-text" data-mce-fragment="1"><br data-mce-fragment="1"></p>
<h4 class="selectable-text copyable-text" data-mce-fragment="1"><span class="selectable-text copyable-text" data-mce-fragment="1"><strong data-mce-fragment="1">Package/Set includes</strong>: 18 PC</span></h4>
<ul data-mce-fragment="1">
<li data-mce-fragment="1"><span class="selectable-text copyable-text" data-mce-fragment="1">Porcelain Cup - 6 pieces</span></li>
<li data-mce-fragment="1"><span class="selectable-text copyable-text" data-mce-fragment="1">Metal Cover - 6 pieces</span></li>
<li data-mce-fragment="1"><span class="selectable-text copyable-text" data-mce-fragment="1">Metal Saucer - 6 pieces</span></li>
</ul>